ci.kimleo.net {
    log
    proxy / 127.0.0.1:10086 {
	websocket
        transparent
    }
}

fw.kimleo.net {
   log 
   proxy / 127.0.0.1:7500 {
        websocket
	transparent
    }
}

*.tun.tnb.tw {
   tls {
        dns dnspod
   }
   log
   proxy / 127.0.0.1:1580 {
        websocket
        transparent
    }
}

